<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Portfolio Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <div class="logo"><span>D</span>V</div>
            <ul class="navlist">
                <li><a href="/" style="--i:1;">Home</a></li>
                <li><a href="/about" style="--i:2;">About</a></li>
                <li><a href="/skills" style="--i:3;">Skills</a></li>
                <li><a href="/contact" style="--i:5;">Contact</a></li>
            </ul>
            <div id="menu-icon" class="bx bx-menu"></div>
        </header>